*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgb(243, 242, 242);
}

h1{
    text-align: center;
    margin: 1rem 0;
    color: rgb(39, 39, 39);
}

form{
    height: 75vh;
    width: 30%;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid rgba(116, 116, 118, 0.559);
    border-radius: 10px;
    box-shadow: 1px 7px 5px -4px rgba(127,127,127,0.75);
    -webkit-box-shadow: 1px 7px 5px -4px rgba(127,127,127,0.75);
    -moz-box-shadow: 1px 7px 5px -4px rgba(127,127,127,0.75);
    background-color: white;
}

label{
    font-size: 1rem;
 
}

input{
    display: block;
    margin: 0.7rem 0;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(116, 116, 118, 0.559);
}

button{
    height: 2.5rem;
    color: rgb(237, 233, 233);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: rgb(47, 94, 197);
}

.submit-button{
    width: 100%;
}

#contrast-button{
    width: 15rem;
    margin: 1rem auto;
    display: block;
}

/*modo oscuro*/
.contrast{
    background-color: rgb(16, 16, 16);
    color: white;
}

.contrast h1{
    color: rgb(232, 230, 230);
}

.contrast form{
    background-color: rgb(45, 45, 45);
    color: rgb(234, 234, 234);
    box-shadow: none;
    border: 1px solid rgba(116, 116, 118, 0.559);
}

.contrast label{
    color: rgb(234, 234, 234);
}

.contrast input{
    background-color: rgb(62, 62, 62);
    color: rgb(234, 234, 234);
    border: 1px solid rgba(116, 116, 118, 0.559);
}

.contrast button{
    background-color: rgb(131, 43, 157);
}